<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static "notes/style.css" %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Noted</title>
</head>
<body>
<textarea id="msginput" rows="5" cols="5" autofocus></textarea>
<div id="msgbody"></div>

<script>
    let emoji_data;

    $.getJSON("{% static "notes/emojis.json" %}", function (json) {
        emoji_data = json;
    });

    $(function () {

        const msg = $("#msginput");
        const msgbody = $("#msgbody");
        const notes = localStorage.getItem("notes");

        function emojify(raw_input) {
            let array_from_input = raw_input.split(" ");
            array_from_input.map(function (word) {
                if (word.length >= 5) {
                    array_from_input[array_from_input.indexOf(word)] = emoji_data[word] ? emoji_data[word] : word
                }
            });
            return array_from_input.join(" ");
        }

        if (notes) {
            let formatted_data = emojify(notes)
            msg.val(formatted_data);
            msgbody.html(formatted_data);
        } else {
            msgbody.html("Start typing...")
        }

        msg.on("input", function () {
            msgbody.html(emojify(msg.val()));
        });

        $(document).on('click', function () {
            msg.focus();
        });

        msg.on("input", function () {
            localStorage.setItem("notes", msg.val());
        });
    });

</script>
</body>
</html>
